body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #000;
    background-image: url(Pictures/QuestionMark.jpg);
    background-size: cover;
  }
  
  .flashcard-container {
    perspective: 1000px;
    position: relative;
    bottom: -29px;
    left: 5%;
    transform: translateX(-50%);
  }
  
  .flashcard {
    width: 500px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
 .flashcard.flipped {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }
  .button-container {
    position: fixed;
    bottom: 150px;
    left: 45%;
    transform: translateX(-40%);
  }
  
  .header {
    display: flex;
    background-color: rgb(83, 218, 236);
    padding: 0.5%;
    border-radius: 5px; /* Rounded corners */
    align-items: fixed;
    margin-left: 20px;
    margin-top: -810px;
  }


  .button-container button {
    padding: 10px 20px; 
    background-color: #4CAF50;
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }

  .button-container button:hover {
    background-color: #45a049; 
  }

  .description{
    display: flex;
    background-color: rgb(83, 218, 236);
    padding: 0.5%;
    position: fixed;
    border-radius: 5px; 
    top: 130px;
    left: 36%;
    transform: translateX(-40%);
  }

  .number_of_cards{
    display: flex;
    background-color: rgb(83, 218, 236);
    padding: 0.5%;
    position: fixed;
    border-radius: 5px;
    top: 130px;
    left: 58%;
    transform: translateX(-40%);
  }

  .submit_answer{
    position: fixed;
    margin-top: 490px;
    margin-right:100px ;
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
  }

  .score_container {
    display: flex;
    position: fixed;
    right: 4%;
    top: 50px; 
    right: 90px; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 5px;
  }
  .flash-red {
    animation: flash-red-animation 0.5s infinite alternate;
  }
  .flash-green{
    animation: flash-green-animation 0.5s infinite alternate;
  }
  
  @keyframes flash-red-animation {
    0% {
      background-color: #ffcccc; /* Light red */
    }
    100% {
      background-color: #ff0000; /* Red */
    }
  }

  @keyframes flash-green-animation {
    0% {
      background-color: #2eb865; /* Light green */
    }
    100% {
      background-color: #00ff6e; /* Green */
    }
  }
  
  

